body, p {
    font-family: 'Comfortaa', cursive;
    background-color: mediumaquamarine;
}

h1 {
    color: orangered;
}

.navbar {
    display: flex;
    position: absolute;
    bottom: 0;
    position: fixed;
    width: auto;
   
}